:root,
.light,
.light-theme {

  /* button  */
  --button-default-fgColor-rest: #24292f;
  --button-default-bgColor-rest: #f6f8fa;
  --button-default-bgColor-hover: #eef1f4;
  --button-default-bgColor-active: #e7ebef;
  --button-default-bgColor-selected: #e7ebef;
  --button-default-bgColor-disabled: #eaeef2b3;
  --button-default-borderColor-rest: #d0d7de;
  --button-default-borderColor-hover: #d0d7de;
  --button-default-borderColor-active: #d0d7de;
  --button-default-borderColor-disabled: #eaeef2b3;
  --button-default-shadow-resting: 0px 1px 0px 0px #1f23280a;
  --button-primary-fgColor-rest: #ffffff;
  --button-primary-fgColor-disabled: #ffffffcc;
  --button-primary-iconColor-rest: #ffffffcc;
  --button-primary-bgColor-rest: #004EF1;
  --button-primary-bgColor-hover: #0244D0FD;
  --button-primary-bgColor-active: #0043D0;
  --button-primary-bgColor-disabled: #76A5FF;
  --button-primary-borderColor-rest: #1f232826;
  --button-primary-borderColor-hover: #1f232826;
  --button-primary-borderColor-active: #1f232826;
  --button-primary-borderColor-disabled: #76A5FF;
  --button-primary-shadow-selected: inset 0px 1px 0px 0px #002d114d;
  --button-ghost-fgColor-rest: #004EF1;
  --button-ghost-fgColor-hover: #004EF1;
  --button-ghost-fgColor-disabled: #8c959f;
  --button-ghost-iconColor-rest: #636c76;
  --button-ghost-iconColor-hover: #636c76;
  --button-ghost-iconColor-disabled: #8c959f;
  --button-ghost-bgColor-rest: #ffffff00;
  --button-ghost-bgColor-hover: #d0d7de33;
  --button-ghost-bgColor-active: #d0d7de66;
  --button-ghost-bgColor-disabled: #eaeef2b3;
  --button-ghost-borderColor-rest: #ffffff00;
  --button-ghost-borderColor-hover: #ffffff00;
  --button-ghost-borderColor-disabled: #eaeef2b3;
  --button-outline-fgColor-rest: #004EF1;
  --button-outline-fgColor-hover: #ffffff;
  --button-outline-fgColor-active: #ffffff;
  --button-outline-fgColor-disabled: #004EF180;
  --button-outline-bgColor-rest: #f6f8fa;
  --button-outline-bgColor-hover: #004EF1;
  --button-outline-bgColor-active: #0757ba;
  --button-outline-bgColor-disabled: #f6f8fa;
  --button-outline-borderColor-hover: #1f232826;
  --button-outline-borderColor-active: #1f232826;
  --button-outline-shadow-selected: inset 0px 1px 0px 0px #00215533;
  --button-danger-fgColor-rest: #d1242f;
  --button-danger-fgColor-hover: #ffffff;
  --button-danger-fgColor-active: #ffffff;
  --button-danger-fgColor-disabled: #d1242f80;
  --button-danger-iconColor-rest: #d1242f;
  --button-danger-iconColor-hover: #ffffff;
  --button-danger-bgColor-rest: #f6f8fa;
  --button-danger-bgColor-hover: #a40e26;
  --button-danger-bgColor-active: #8b0820;
  --button-danger-bgColor-disabled: #eaeef2b3;
  --button-danger-borderColor-rest: #d0d7de;
  --button-danger-borderColor-hover: #1f232826;
  --button-danger-borderColor-active: #1f232826;
  --button-danger-shadow-selected: inset 0px 1px 0px 0px #4c001433;
  --button-inactive-fgColor: #57606a;
  --button-inactive-bgColor: #eaeef2;

  /* fgColor  */
  --fgColor-default: #1f2328;
  --fgColor-muted: #636c76;
  --fgColor-onEmphasis: #ffffff;
  --fgColor-white: #ffffff;
  --fgColor-black: #1f2328;
  --fgColor-disabled: #8c959f;
  --fgColor-link: #004EF1;
  --fgColor-neutral: #6e7781;
  --fgColor-accent: #004EF1;
  --fgColor-success: #1a7f37;
  --fgColor-attention: #9a6700;
  --fgColor-severe: #bc4c00;
  --fgColor-danger: #d1242f;

  /* bgColor  */
  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-inset: #f6f8fa;
  --bgColor-emphasis: #24292f;
  --bgColor-inverse: #24292f;
  --bgColor-white: #ffffff;
  --bgColor-black: #1f2328;
  --bgColor-disabled: #eaeef2b3;
  --bgColor-transparent: #ffffff00;
  --bgColor-neutral-muted: #afb8c133;
  --bgColor-neutral-emphasis: #6e7781;
  --bgColor-accent-muted: #EAF2FF;
  --bgColor-accent-emphasis: #004EF1;
  --bgColor-success-muted: #dafbe1;
  --bgColor-success-emphasis: #1f883d;
  --bgColor-attention-muted: #fff8c5;
  --bgColor-attention-emphasis: #9a6700;
  --bgColor-severe-muted: #fff1e5;
  --bgColor-severe-emphasis: #bc4c00;
  --bgColor-danger-muted: #ffebe9;
  --bgColor-danger-emphasis: #cf222e;

  /* border  */
  --borderColor-default: #d0d7de;
  --borderColor-muted: #d0d7deb3;
  --borderColor-emphasis: #6e7781;
  --borderColor-disabled: #eaeef2b3;
  --borderColor-transparent: #ffffff00;
  --borderColor-neutral-muted: #afb8c133;
  --borderColor-neutral-emphasis: #6e7781;
  --borderColor-accent-muted: #54aeff66;
  --borderColor-accent-emphasis: #004EF1;
  --borderColor-success-muted: #4ac26b66;
  --borderColor-success-emphasis: #1a7f37;
  --borderColor-attention-muted: #d4a72c66;
  --borderColor-attention-emphasis: #bf8700;
  --borderColor-severe-muted: #fb8f4466;
  --borderColor-severe-emphasis: #bc4c00;
  --borderColor-danger-muted: #ff818266;
  --borderColor-danger-emphasis: #cf222e;

  /* control */
  --control-bgColor-rest: #f6f8fa;
  --control-bgColor-hover: #eef1f4;
  --control-bgColor-active: #e7ebef;
  --control-bgColor-disabled: #eaeef2b3;
  --control-bgColor-selected: #f6f8fa;
  --control-fgColor-rest: #24292f;
  --control-fgColor-placeholder: #6e7781;
  --control-fgColor-disabled: #8c959f;
  --control-borderColor-rest: #d0d7de;
  --control-borderColor-emphasis: #868f99;
  --control-borderColor-disabled: #eaeef2b3;
  --control-borderColor-selected: #f6f8fa;
  --control-borderColor-success: #1a7f37;
  --control-borderColor-danger: #cf222e;
  --control-borderColor-warning: #bf8700;
  --control-iconColor-rest: #636c76;
  --control-transparent-bgColor-rest: #ffffff00;
  --control-transparent-bgColor-hover: #d0d7de33;
  --control-transparent-bgColor-active: #d0d7de66;
  --control-transparent-bgColor-disabled: #eaeef2b3;
  --control-transparent-bgColor-selected: #d0d7de33;
  --control-transparent-borderColor-rest: #ffffff00;
  --control-transparent-borderColor-hover: #ffffff00;
  --control-transparent-borderColor-active: #ffffff00;
  --control-danger-fgColor-rest: #d1242f;
  --control-danger-fgColor-hover: #d1242f;
  --control-danger-bgColor-hover: #ffebe9;
  --control-danger-bgColor-active: #ffebe966;
  --control-checked-bgColor-rest: #004EF1;
  --control-checked-bgColor-hover: #0860ca;
  --control-checked-bgColor-active: #0757ba;
  --control-checked-bgColor-disabled: #8c959f;
  --control-checked-fgColor-rest: #ffffff;
  --control-checked-fgColor-disabled: #ffffff;
  --control-checked-borderColor-rest: #004EF1;
  --control-checked-borderColor-hover: #0860ca;
  --control-checked-borderColor-active: #0757ba;
  --control-checked-borderColor-disabled: #8c959f;

  /* data  */
  --data-blue-color: #006edb;
  --data-blue-color-muted: #d1f0ff;
  --data-auburn-color: #9d615c;
  --data-auburn-color-muted: #f2e9e9;
  --data-orange-color: #eb670f;
  --data-orange-color-muted: #ffe7d1;
  --data-yellow-color: #b88700;
  --data-yellow-color-muted: #ffec9e;
  --data-green-color: #30a147;
  --data-green-color-muted: #caf7ca;
  --data-teal-color: #179b9b;
  --data-teal-color-muted: #c7f5ef;
  --data-purple-color: #894ceb;
  --data-purple-color-muted: #f1e5ff;
  --data-pink-color: #ce2c85;
  --data-pink-color-muted: #ffe5f1;
  --data-red-color: #df0c24;
  --data-red-color-muted: #ffe2e0;
  --data-gray-color: #808fa3;
  --data-gray-color-muted: #e8ecf2;
}